aiohttp
aiohttp-apispec
aiohttp-swagger
aiomonitor
aiopg
alembic
async-lru
asyncpg>=0.19
asyncpgsa>=0.25
backoff
cachetools
Click
ConfigArgParse
dsnparse
eth-abi<=1.1.1
eth-utils<=1.4.1
ethereum<=2.3.1
funcy
gunicorn
hexbytes<=0.1.0
lxml
marshmallow
mode
prometheus-client
psycopg2-binary
python-dateutil
python-json-logger
raven
requests
rlp
sentry-sdk
SQLAlchemy
web3<4.7
webargs
